.card {
  &:has(a:first-of-type:empty) {
    border: lightgray solid thin;
    display: grid;
    grid-template-rows: "pile";
    height: fit-content;
    padding: 1.5rem;
    position: relative;

    > * {
      grid-area: pile;
    }

    > a:empty {
      /* padding: var(--card-p); */
      background-color: transparent;
      bottom: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 99;
    }

    &:has(a:empty:hover) {
      /* cursor: pointer; */
      border: blue solid thin;
    }

    div:has(a:not(:empty), button:not(:empty)) {
      border: none;
      height: min-content;
      min-width: 100px;
      position: absolute;
      right: 0;
      width: min-content;
      z-index: 999;
    }

    > div:first-of-type {
      background: transparent;
      width: auto;
      z-index: 1;
    }
  }
}
